1 MUI "Data_1.bin"

1 WEVT_TEMPLATE "Data_2.bin"


1 VERSIONINFO
FILEVERSION 6,1,7601,17964
PRODUCTVERSION 6,1,7601,17964
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Net Event Handler"
		VALUE "FileVersion", "6.1.7601.17964 (win7sp1_gdr.121003-0333)"
		VALUE "InternalName", "NetEvent.Dll"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "NetEvent.Dll"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7601.17964"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

